<a href="/product" class="list-group-item active">商品管理</a>

<a href="/product" class="list-group-item">
    商品列表</a>
<a href="/product/add" class="list-group-item">
    增加商品</a>

<a href="/user" class="list-group-item active">用户管理</a>

<a href="/user" class="list-group-item">
  用户列表</a>
<a href="/user/add" class="list-group-item">
  用户增加</a>